#search{
    position: relative;
    left:700px ; 
    top:18px ; 
}
#btn{
    position:relative;
    left:900px ;
    top:-20px;
}
nav{
    width: auto;
    height:auto;
}
#tt{
    color: #1c779b;
}
#ss{
    color:aliceblue;
}
section{
    position: relative;
    left: 24% ; 
    top:25px ; 
}
.ttt{
    position:relative; 
    left:110px;
}
#rr{
    position:relative; 
    top:12px; 
}

footer{
    position: relative;
    top:80px; 
}
